* {font-family: "Montserrat", "Regular"}

h1 { 
    font-size:28px; 
    font-family: "Montserrat", "Regular";
    margin: 64.5px 0px 40px 0px;
    color: #2D2D2D;
}

h2 {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: left;
    margin: 5px 0px 5px 12px;
}

.siteIdentity{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
    z-index: 2;
    margin-top: 70px;
}

.siteIdentity h1{
color: #fff;
margin-top: 85px;
text-align: center;
}

.siteIdentity h2{
    text-align: center;
    margin: -10px 0px 5px 12px;
    font-size: 16px;
    font-weight: normal;
    opacity: 0.85;
    }

.main-menu ul li{
    display: inline;
}

.menu{
    background-color: #061B3A;
    padding: 5px 0;
}

.menu a{
    color: #fff;
    font-size: 13px;
    margin: 10px 20px 5px 20px;
    text-transform: uppercase;
}

.img-fluid {
    width: 100%;
    
}

.menu .col-md-2 {
    margin-top: 8px;
}
    
.menu .col-md-10{
    padding-top: 10px;  
}

.header-image{
    position: relative;
}

.color-overlay {
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    opacity: 0.58;
}

.services{
    display: inline;
}

.services .container{
    margin-bottom: 50px;
}

.services p{
    text-align: left;
    font-size: 14px;
    color:#2D2D2D;
    margin: 20px 15px 0px 12px;
    text-transform: capitalize;
}

.services-title{
    padding-top:5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;

}

.services h2{
    margin: 25px 0px 5px 12px;
}

.middle-post h1{
    padding: 0px 200px 0px 20px;
}

.middle-post p{
    padding: 0px 200px 0px 20px;
}

.middle-area{
    background-color: #F8F8F8;
}

.btn-primary {
    color: #fff;
    background-color: #B17E3B;
    border-color: #B17E3B;
    border-radius: 24px;
    padding: 12px 60px 12px 60px;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 13px;
}

.btn-primary:hover {
    color: #fff;
    background-image: linear-gradient(271deg,#B17E3B 0%,#8b612b 100%);
    background-color: #8b612b;
    border-color: #B17E3B;
}

.input-group-btn .btn-primary {
    margin-top: 3px;
    font-size: 14px;
}

.subscribe h1{
    margin: 80.5px 0px 40px 0px;
    text-align: center;
}

.input-group{
    padding: 0px 200px 90px 300px;
}

.form-control{
    border-radius: 25px !important;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #F8F8F8;
}

input{
    padding-left: 40px !important;
}

footer{ background-color:#303C40; padding: 15px 0; color: #fcfae1; }

footer .logo{
    padding: 50px 0px 50px 0px;
}

.svg-replaced-1{
    height: 64px!important;
    width: 140px;
}

.scopyright{
    border-top: 1px solid #596366;
    margin-top: 45px;
}


footer .menu{
    background-color: #303C40; 
}

.social-network{
    margin-top: 50px;
}

 #svg-replaced-3, #svg-replaced-4 {
    background-color: #596366;
    height: 35px;
    width: 35px;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
}
#svg-replaced-2{
    background-color: #596366;
    height: 35px;
    width: 35px;
    padding: 5px 14px 5px 14px;
    border-radius: 20px;
    margin-right: 5px;
}



.copyright{
    margin: 30px 0px 10px 0px;
    text-align: center;
    font-size: 12px;
}

.footer-menu ul{ list-style: none; padding: 0; margin: 0; font-size: 11px; }
.footer-menu ul li{ display: inline;  margin: 0 15px 0 0;}
.footer-menu ul li:last-child{ margin: 0; }
.footer-menu ul li a{ color: #fcfae1;  text-decoration: none;}
.footer-menu ul  li.current-menu-item a{ color:#e58888; }

@media screen 
  and (max-device-width: 1400px) {
    .middle-post img{
        width: 100%;
        height: 100%;
    }
  }